 <!-- Footer -->

 <style>

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #e74334;
}

footer a {
    color: #e74334;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilo para el contenido */
.content {
    padding: 20px;
}
 </style>
 <footer>
    <p>&copy; 2024 Lista de Superhéroes</p>
  </footer>